/* using margin padding float to design template  */

:root {
    --btnColor: #213349;
    --date1: #be8442;
    --date2: #bc6142;
    --date3: #bd425e;
    --font1: "Oswald", sans-serif;
    --footerSec2: #0b1016;
    --prim: #131c29;
    --grad: radial-gradient(
        at top center,
        #38587e,
        #031620
    );
    --sec: #ff8901;
    --tert: #f5f5f7;
}

* {box-sizing: border-box;}

/* tag names */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

/* classes */

.clear {
    clear:both;
}
.container {
    margin: 0 auto;
    width: 96%;
    /* border: 1px solid coral; */
}

.content-box {
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: calc(100% / 3);
    padding: 20px 40px;
    float: left;
}

.content-box:nth-child(3) {
    border-right: none;
}

.content-heading {
    color: var(--prim);
    font-family: var(--font1);
    font-size: calc(36px + (56 - 36) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 400;
    text-transform: uppercase;
}

.content-img {
    width: 100%;
    display: block;
}

.content-text {
    color: #aaa;
    font-family: sans-serif;
}

.date, .month {
    display: block;
    margin: 0;
    color: var(--tert);
    font-family: var(--font1);
    text-align: center;
    text-transform: uppercase;
}

.date {
    font-size: 32px;
}

.date-div {
    /* padding: 8px; */
    margin-right: 16px;
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.date-div, .news-block {
    float: left;
}

.footer-content {
    padding: 10px;
    width: calc(100% / 3);
    float: left;
    /* border: 1px solid yellow; */
}

.footer-heading {
    color: var(--tert);
    font-family: var(--font1);
    font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 400;
    text-transform: uppercase;
}

.fs2-text {
    margin: 0;
    color: #777;
    font-family: var(--font1);
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
}

.hero-img {
    display: block;
    width: 100%;
}

.hs1-item {
    font-family: sans-serif;
    display: inline;
    padding: 0 12px;
    text-transform: uppercase;
    border-right: 1px solid #555;
}

.hs1-item:last-child {
    padding-right: 0;
    border: none;
}

.hs1-link {
    color: #555;
    text-decoration: none;
}

.hs2-item {
    display: inline;
    margin: 0 12px;
    padding: 10px 18px;
    text-transform: uppercase;
    background-color: var(--btnColor);
    border-radius: 5px;
    font-family: var(--font1);
}

.hs2-item:hover {
    background-color: var(--sec);
    transition: .1s;
}

.hs2-item:last-child {
    margin-right: 0;
}

.hs2-link {
    color: var(--tert);
    text-decoration: none;
}

.more-btn {
    padding: 10px 12px;
    color: var(--tert);
    font-family: var(--font1);
    font-weight: 450;
    text-transform: uppercase;
    background-color: var(--btnColor);
    border: none;
    border-radius: 5px;
}

.news-block {
    width: 300px;
    /* border: 1px solid white; */
}

.news-heading {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.news-item {
    margin-bottom: 16px;
}

.news-link {
    color: var(--tert);
    text-decoration: none;
}

.news-text {
    margin: 0;
    color: #555;
    font-family: sans-serif;
}

.opps-heading {
    margin: 0;
    font-weight: 400;
}

.opps-item {
    padding-bottom: 45px;
    font-family: sans-serif;
}

.opps-link {
    color: var(--tert);
    text-decoration: none;
}

.opps-text {
    margin: 0;
    color: #555;
}

.services-item {
    font-family: sans-serif;
    line-height: 2;
}

.services-link {
    color: var(--tert);
    text-decoration: none;
}

.slider {
    margin: 0 2px;
    width: 25px;
    height: 25px;
    background-color: #777;
    float: left;
    border-radius: 50%;
}

.slider:hover {
    background-color: var(--sec);
    transition: .1s;
}

.sliders {
    margin: 16px auto;
    width: 90px;
    height: 30px;
    /* border: 1px solid orange; */
}

.visually-hidden {
    display: none;
}

/* ids */

#dateDiv1 {
    background-color: var(--date1);
}

#dateDiv2 {
    background-color: var(--date2);
}

#dateDiv3 {
    background-color: var(--date3);
}

#footerSection1 {
    padding: 56px 0 64px;
    background-color: var(--prim);
    background-image: var(--grad);
}

#footerSection2 {
    padding: 10px 0 60px;
    background-color: var(--footerSec2);
}

#headerSection1 {
    width: 100%;
    padding: 8px 0;
    background-color: var(--prim);
}

#headerSection2 {
    padding: 15px 0;
}

#hs1List, #hs1Text {
    width: 50%;
    margin: 0;
    float: left;
    /* border: 1px solid white; */
}

#hs1List, #hs2List {
    text-align: right;
    padding-left: 0;
    list-style-type: none;
}

#hs1Text {
    font-family: sans-serif;
    text-transform: uppercase;
}

#hs2List {
    margin-top: 40px;
}

#logo, #topNav {
    margin: 0;
    width: 50%;
    float: left;
    /* border: 1px solid dodgerblue; */
}

#newsList {
    padding-left: 0;
    list-style-type: none;
}

#oppsList {
    padding-left: 18px;
    list-style-image: url(../images/chat.png);
}

#servicesList {
    padding-left: 18px;
    list-style-image: url('../images/cog.png');
}